@import url('https://fonts.googleapis.com/css?family=Philosopher&subset=cyrillic-ext');

html {
    max-width: 100%;
    margin: 0 auto;
}

body {
    margin-bottom: 120px;
    line-height: 1.5;
}

@media all {
    .imageID1 {
         display: none;
    }
}

.imageIDpng {
    width: 100%;
    padding: 10%;
}

nav {
    display: block;
    position: inherit;
    top: 0;
    width: 100%;
    z-index: 100;
}

nav a[href] {
    color: #10d648;
    font-family: 'Philosopher', sans-serif;
    font-size: 140%;
    text-shadow: 6px 6px 12px #c4d5e6;
}

nav ul {
    background-color: white;
}

nav li {
    display: list-item;
    margin-top: 4px;
}

nav li a:hover {
    color: #c4d5e6;
}

nav li a[class="active"]:hover {
    color: #c4d5e6;
    font-size: 100%;
}

.active-a {
    font-weight: bold;
    background-color: #d5e0ef;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
h1 {
    margin-top: 0.0px;
    margin-left: 0.0px;
    color: #10d648;
    text-align: center;
    position: relative;
    top: -35px;
}

h3 {
    color: #10d648;
    font-family: 'Philosopher', sans-serif;
    font-size: 1.5rem;
    text-shadow: 6px 6px 12px #c4d5e6;
}

p { 
    color: #10d648;
    font-family: 'Philosopher', sans-serif;
    font-size: 1.6rem;
    text-shadow: 6px 6px 12px #c4d5e6;
}

.name-part-1 {
    font-size: 30px; 
    color:blue;
    text-shadow: 6px 6px 12px #c4d5e6;
    font-family: 'Philosopher', sans-serif;
}

.name-part-2 {
    font-size: 30px; 
    color: #10d648;
    text-shadow: 6px 6px 12px #c4d5e6;
    font-family: 'Philosopher', sans-serif;
}

.info {
    color: #10d648;
    text-shadow: 6px 6px 12px #c4d5e6;
    font-family: 'Philosopher', sans-serif;
}

.block3 {
    position: relative;
    text-align: center;
    margin-top: 22%;
}

div .block4 {
    background: white;
    padding: 0px;
    margin-left: 0.0px;
    margin-top: 0.0px;
    float: left;
    position: inherit;
}

.arrow {
  position: absolute;
  padding-left: 5px;
  -webkit-animation: bounce 2s infinite ease-in-out;
  -moz-animation: bounce-1 1.6s infinite ease-in-out;
  animation: bounce-1 2s infinite ease-in-out;
}

@-webkit-keyframes bounce {
	0%, 20%, 60%, 100%  { -webkit-transform: translateX; }
	60% { -webkit-transform: translateX(-10px); }
}

@-moz-keyframes bounce-1 {
	0%, 20%, 60%, 100%  { -webkit-transform: translateX; }
	40% { -webkit-transform: translateX(5px); }
}

@keyframes bounce-1 {
	0%, 20%, 60%, 100%  { -webkit-transform: translateX; }
	40% { -webkit-transform: translateX(5px); }
}

footer {
    float: left;
    position:relative;
    left: 50%;
    height: 50px;
}

footer > .icons {
    float: left;
    position: relative;
    left: -50%;
    padding-bottom: 15%;
    padding-top: 15%;
}

.icon-1 {
    width: 50px;
    float: left;
    padding-right: 2px;
    padding-top: 3px;
}

.icon-2 {
    width: 50px;
    float: left;
}

.icon-3 {
    width: 50px;
    float: left;
    padding-top: 2px;
}

button {
    background-color: #10d648; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

nav a[href] {
    display: inline-block;
    color: #10d648;
    font-family: 'Philosopher', serif;
    font-size: 1.5em;
    padding-left: 2px;
    text-shadow: 6px 6px 12px #c4d5e6;
    transition:transform 5s ease-in-out;
    border: 1px solid #10d648;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-decoration: none;
    margin: 3px;
    position: relative;
    z-index: 2;
}

.response-text {
    display: block;
    margin-bottom: 5px; 
    color: #10d648;
    font-family: 'Philosopher', sans-serif;
    font-size: 1.2em;
    text-shadow: 6px 6px 12px #c4d5e6;
}

textarea {
    height: 80px;
    width: 80%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.name-part-2 + .info {
    font-size: 1.5em;
}

.licenses>ul>li>a[href]>img {
    height: 210px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
}

.brands {
     padding: 5px 0 5px 0;
} 

select {
    display: none;
}