h1 {
    margin-top: 0.0px;
    margin-left: 0.0px;
    color: #1ccc66;
    font-size: 50px;
    text-align: center;
}

p { 
    color: #30d900;
     font-family: 'Philosopher', sans-serif;
     font-size: 130%;
     text-shadow: 2px 2px 8px #c4d5e6;
}

.name-part-1 {
    font-size: 27px; 
    color: blue;
    text-shadow: 2px 2px 8px #c4d5e6;
}

.name-part-2 {
    font-size: 27px; 
    color: #30d900;
    text-shadow: 2px 2px 8px #c4d5e6;
}

.info {
    font-size: 22px;
    color: #30d900;
    text-shadow: 2px 2px 8px #c4d5e6;
}

.block3 {
    position: inherit;
    text-align: center;
}

form {
    display: block;
    float: right;
    margin-top: 10px;
    margin-right: 10%;

}

textarea {
    display: block;
    width: 300px;
    height: 100px;
}

button {
    background-color: #4CAF30; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#map {
    display: block;
    float: left;
    width: 80%;
    height: 350px;
    margin: 10%;
}

.contact-info {
    float:left;
    margin-left: 10%;
}

