h1 {
    margin-top: 0.0px;
    margin-left: 0.0px;
    color: #1ccc66;
    font-size: 50px;
    text-align: center;
}

p { 
    font-family: 'Philosopher', sans-serif;
}

.name-part-1 {
    font-size: 30px; 
    color: blue;
    text-shadow: 2px 2px 8px #c4d5e6;
}

.name-part-2 {
    font-size: 30px; 
    color: #1ccc66;
    text-shadow: 2px 2px 8px #c4d5e6;
}

.info {
    font-size: 26px;
    color: #1ccc66;
    text-shadow: 2px 2px 8px #c4d5e6;
}

.block3 {
    position: inherit;
    text-align: center;
}





