html {
    max-width: 1350px;
    margin: 0 auto;
}

body {
    margin-bottom: 120px;
}

@media screen and (min-width: 900px) {
    .imageID {
        content: url("../pictures/header.png");
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

nav {
    display: block;
    position: inherit;
    top: 0;
    width: 100%;
    z-index: 100;
}

nav a[href] {
    color: #30d900;
    font-family: 'Philosopher', sans-serif;
    font-size: 145%;
    text-shadow: 2px 2px 8px #c4d5e6;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
}

nav li {
    display: inline;
    text-align: center;
    float: left;
    width: 20%;
}

nav li a:hover {
    color: #c4d5e6;
}

nav li a[class="active"]:hover {
    color: #c4d5e6;
    font-size: 125%;
}

.active {
    font-weight: bold;
    background-color: #d5e0ef;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

main li {
    display: inline;
}

