main {
    display: block;
    clear:both;
}

h1 {
    align-self: center;
    display: flex;
    font-size: 2.5em;
}

.header-bottom {
    display:block;
    width: 100%;
    height: 205px;
}

h3 {
     color: #10d648;
     font-family: 'Philosopher', sans-serif;
     font-size: 2em;
     text-shadow: 6px 6px 12px #c4d5e6;
}

.empty {
     display:none;
}

.price-wrapper-1{
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 2px solid #10d648;
    margin: 20px 20px 20px 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    align-items: flex-end;
    flex-wrap: wrap;
    background-color: #c4d5e6;
    border-style: outset;
    display: flex;
    flex-wrap: wrap;
}

.price-wrapper-2{
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 2px solid #10d648;
    margin: 20px 20px 20px 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    align-items: flex-end;
    flex-wrap: wrap;
    background-color: #c4d5e6;
    border-style: outset;
    
}

.price-wrapper-3{
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 2px solid #10d648;
    margin: 20px 20px 20px 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    align-items: flex-end;
    flex-wrap: wrap;
    background-color: #c4d5e6;
    border-style: outset;
}

.price-value {
    display: flex;
    width: 100%;
}

.price-value > div {
    margin: 1%;
    border: 2px solid #10d648;
    flex-basis: 33.3332%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 2px 0 0 0;
    text-align: center;
    background-color: white;
    border-style: outset;
}

.price {
    display: flex;
    flex-basis: 100%;
    align-self: flex-start;
    justify-content: center;
}

.cylinder {
    padding: 0 0 0 0;
    display: inline-block;
    width: 45px;
    margin: 0 auto;
}

@media all and (max-width: 899px) {
    .cylinder {
    padding: 2% 0 0 0;
    display: inline-block;
    width: 30px;
    margin: 0 auto;
    }
    .price-wrapper-1 {
    margin: 15px 15px 15px 15px;
    }
    .price-wrapper-2 {
    margin: 15px 15px 15px 15px;
    }
    .price-wrapper-3 {
    margin: 15px 15px 15px 15px; 
    }
 
    .header-bottom {
    display: none;
    }

    .price-value > div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}

svg {
   fill:#10d648;
}

.float {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

