html {
    max-width: 100%;
    margin: 0 auto;
}

body {
    margin-bottom: 120px;
    line-height: 1.3;
}

h1 {
    font-size: inherit;    
}

#header-pic {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

@media {
    .imageID1 {
         display: none;
    } 
}

.imageIDpng {
   position: absolute;
    top:0px;
    right:0px;
    width: 29%;
    padding: 10px;
    padding-bottom: 10px;
}

nav {
    display: block;
    position: inherit;
    top: 0;
    width: 100%;
    
}

nav a[href] {
    color: #30d900;
    font-family: 'Philosopher', sans-serif;
    font-size: 140%;
    text-shadow: 2px 2px 8px #c4d5e6;
}

nav ul {
    background-color: white;
}

nav li {
    display: list-item;
    margin-top: 4px;
}

nav li a:hover {
    color: #c4d5e6;
    font-size: 125%;
}

.active-1 {
    font-weight: bold;
    background-color: #d5e0ef;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

main ul {
    float: inherit;
}

main li {
    background-color: white;
}

.arrow {
  position: absolute;
  padding-left: 5px;
  -webkit-animation: bounce 2s infinite ease-in-out;
}

@-webkit-keyframes bounce {
	0%, 20%, 60%, 100%  { -webkit-transform: translateX; }
	60% { -webkit-transform: translateX(-10px); }
}