html {
    max-width: 1300px;
    margin: 0 auto;
}
body {
    background-image: url(main-pg.png);
    background-repeat: no-repeat;
}
nav {
    display: block;
    width: 100%;
    position: fixed;
    top:0;
    z-index: 100
}
nav a[href] {
    color:#1975f3;
    font-family: 'Philosopher', sans-serif;
    font-size:135%;
    padding-right: 0px;
}
nav ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    background-color: #c4d4e7;
    border:1px solid #e7e7e7;
    top: 0;
}
nav li {
    display: inline;
    padding-left:106px;
}
nav li a:hover {
    color: yellow;
}
nav li a[class="active"]:hover {
    color: yellow;
    font-size:135%;
}
.active{
    background-color:yellow;
}

