article {
    padding-top: 210px;
    padding-left: 110px;
}
div {
    display: inline-block;
}
h1 { 
    display: block;
    margin-top: 0.0px;
    margin-left: 0.0px;
    color: #1ccc66;
    font-size: 50px;
    text-align: center;
}
.block3 { 
    width: 1000px; 
    height: 400px;
    padding: 0px;
    margin-left: 0.0px;
    margin-top: 0.0px;
    float: left;
    position: inherit;
    text-align: center;
}
div .block4 { 
    background: white;
    padding: 0px;
    margin-left: 0.0px;
    margin-top: 0.0px;
    float: left;
    position: inherit;
}
p {
    font-size: 35px;
    color: #1ccc66;
}