@import "index.scss";
h1 {
    font-size: 2.2em;
    line-height: 1.6;
    margin: 15px 0px;
    text-shadow: 6px 6px 12px #fff;
}

.header-bottom {
    display:block;
    width: 100%;
    height: 205px;
}

h3 {
     color: #10d648;
     font-family: 'Philosopher', sans-serif;
     font-size: 2em;
     text-shadow: 6px 6px 12px #c4d5e6;
     margin: 5px;
     width: 100%;
}

.float {
    padding: 15px 25px;
}

@supports (display: grid) {
    .float {
        padding: 15px 0px;
    }
}

.empty {
    font-size: 2.5em;
    visibility:hidden;
}

.price-wrapper-1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-top: 5px rgba(255, 255, 255, 0.1);
    border-left: 2px rgba(255, 255, 255, 0.5);
    border-right: 2px rgba(255, 255, 255, 0.5);
    margin: 20px 20px 20px 20px;
    -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /*Safari 5.1-6*/ /*Opera 11.1-12*/ /*Fx 3.6-15*/
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0)),to(rgba(0,0,0,0.1)));
    background: linear-gradient(to top, rgba(0,0,0,0),rgba(0,0,0,0.1)); /*Standard*/
    border-style: inset;
}

img[alt*='Двигатель'] {
    width: 100%;
    height: 6em;
}

.price-wrapper-2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-top: 5px rgba(255, 255, 255, 0.1);
    border-left: 2px rgba(255, 255, 255, 0.5);
    border-right: 2px rgba(255, 255, 255, 0.5);
    margin: 20px 20px 20px 20px;
    -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /*Safari 5.1-6*/ /*Opera 11.1-12*/ /*Fx 3.6-15*/
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0)),to(rgba(0,0,0,0.1)));
    background: linear-gradient(to top, rgba(0,0,0,0),rgba(0,0,0,0.1)); /*Standard*/
    border-style: inset;
    
}

.price-wrapper-3{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-top: 5px rgba(255, 255, 255, 0.1);
    border-left: 2px rgba(255, 255, 255, 0.5);
    border-right: 2px rgba(255, 255, 255, 0.5);
    margin: 20px 20px 20px 20px;
    -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /*Safari 5.1-6*/ /*Opera 11.1-12*/ /*Fx 3.6-15*/
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0)),to(rgba(0,0,0,0.1)));
    background: linear-gradient(to top, rgba(0,0,0,0),rgba(0,0,0,0.1)); /*Standard*/
    border-style: inset;
}

.price-value > div {
    margin: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 2px 0 0 0;
    text-align: center;
    background-color: white;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
}

.cylinder {
    padding: 0 0 0 0;
    display: inline-block;
    width: 4em;
    margin: 0 auto;
}

.float svg, .float img {
    fill:rgba(0,0,0,0.8);
    filter: url("#drop-shadow");
    -webkit-filter: url("#drop-shadow");
 }

hr {
    width: 90%;
}

.price-value {
    margin: 5px;
    margin-bottom: -5px;
}

  .come-in {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-animation: come-in 1.6s ease forwards;
    animation: come-in 1.6s ease forwards;
    -moz-transform: translateY(100px);
    -moz-animation: come-in 1.6s ease forwards;
    -o-transform: translateY(100px);
    -o-animation: come-in 1.6s ease forwards;
    -ms-transform: translateY(100px);
    -ms-animation: come-in 1.6s ease forwards;

  }
  
  .come-in:nth-child(odd) {
    -webkit-animation-duration: 1.9s;
    animation-duration: 1.9s;
    -moz-animation-duration: 1.9s;
    -o-animation-duration: 1.9s;
    -ms-animation-duration: 1.9Ws;
  }
  
  .already-visible {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation: none;
    animation: none;
    -moz-transform: translateY(0);
    -moz-animation: none;
    -o-transform: translateY(0);
    -o-animation: none;
    -moz-transform: translateY(0);
    -moz-animation: none;
    -ms-transform: translateY(0);
    -ms-animation: none;
  }
  
  @keyframes come-in {
    to {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }

  @-webkit-keyframes come-in {
    to {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }

  @media all and (max-width: 960px){
    h1 {
        font-size: 2em;
        line-height: 1.4;
    }
    h3 {
        font-size: 1.8em;
    }
  }

  @media all and (max-width: 540px){
    .price-wrapper-1 {
        margin: 20px 0px 20px 0px;
    }

    .price-wrapper-2 {
        margin: 20px 0px 20px 0px;
    }

    .price-wrapper-3 {
        margin: 20px 0px 20px 0px;
    }
  }